body {
    font-family: 'Open Sans', sans-serif;
}

/* Your styles here ... */
.navigation {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
}

#search {
    text-align: inline-block;
    padding-left: 33px
}
#search input {
    
    padding:7px;padding-left:55px;
    font-size:13px;color:gray;
    background-image:url('http://i47.tinypic.com/r02vbq.png');
    background-repeat:no-repeat;
    background-position:left center;
    border-radius: 58px
    
}

h1 {
    display: flex;
    justify-content: center;
  font-size: 56px;
    color: white;
    padding-top: 50px
}
#content {
        
}
.banner {
    width: 100%;
    background-image: url('/assets/community-members-background.jpg');
    background-size: cover;
    height: 300px;
}

.banner h3 {
    display: flex;
    justify-content: center;
    color:white;
    margin-top: -20px
}
h3 {
  font-size: 20px;
}
#n-primary li {
  display: inline-block;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
    padding-right: 50px;
}
a{
  color:#000;
    text-decoration: none;
}

h2 {
    display: flex;
    justify-content: center;
}

button {
    text-align: center;
    background-color: skyblue;
    color: white;
    
}

a:hover{
  color: blue;
}
#content{
  margin: 0 auto;
}
.footer {
  background: #000;
  color: #FFF;
    text-align: inline-block;
}
.footer p {

    padding-left: 100px;
    
}
