body {
    font-family: 'Open Sans', sans-serif;
    min-width:1140px;
}

/* Your styles here ... */
.navigation {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    align-items: center;
}

#search {
    text-align: inline-block;
    padding-left: 33px
}
#search input {
    /* https://stackoverflow.com/questions/14017464/adding-search-icon-to-input-box */
    padding:7px;padding-left:55px;
    font-size:13px;color:gray;
    background-image:url('http://i47.tinypic.com/r02vbq.png');
    background-repeat:no-repeat;
    background-position:left center;
    border-radius: 58px
}

h1 {
    display: flex;
    justify-content: center;
  font-size: 56px;
    color: white;
    padding-top: 50px
}
#content {
       text-align: center;
}
.banner {
    width: 100%;
    background-image: url('../assets/community-members-background.jpg');
    background-size: cover;
    height: 300px;
    background-position: center;
}

.banner h3 {
    display: flex;
    justify-content: center;
    color:white;
    margin-top: -20px
}
h3 {
  font-size: 20px;
}
#n-primary li {
  display: inline-block;
    justify-content: center;
    font-weight: bold;
    text-decoration: none;
    padding-right: 50px;
}
a{
  color:#000;
    text-decoration: none;
}

h2 {
    display: flex;
    justify-content: center;
}

#js-btn-action-more {
    text-align: center;
    background-color: skyblue;
    color: white;
    margin-bottom: 10px;
    padding-bottom: 20px
}

a:hover{
  color: blue;
}
#content{
  margin: 50px;
  padding-bottom: 10px;
}

.rowUsers {
  display: flex;
  justify-content: space-around;
}

.footer {
  background: #000;
  color: #FFF;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.footer p:after {
  padding-left: 50px;
  content:"\00a9 2016";
}

.rowUsers img {
  border-radius: 100px;
}


.footer img {
    padding-right: 50px;
    padding-top: 10px;
    height: 30px;
}
